{% if ansible_hostname != "master-01" %}
server: https://{{ loadbalancer }}.{{ domain }}:6443
{% endif %}
token: {{ token }}
write-kubeconfig-mode: 0600
tls-san:
  - {{ ansible_hostname }}.{{ domain }}
  - {{ loadbalancer }}.{{ domain }}
cluster-init: true
cluster-cidr: {{ cluster_cidr }}
service-cidr: {{ service_cidr }}
cluster-dns: {{ cluster_dns }}
{% if custom_cni_enabled %}
flannel-backend: none
disable-network-policy: true
{% endif %}
disable:
 - traefik
 - local-storage
 - servicelb
node-taint:
 - node-role.kubernetes.io/master=effect:NoSchedule
